<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <system.webServer>
 
 
 <handlers>
<add name="iisnode" path="main.js" verb="*" modules="iisnode" />
 </handlers>
        <directoryBrowse enabled="false" />
	 
	  <defaultDocument>
		  <files>
			  <add value="main.js" />
		  </files>
	  </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"></modules>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://www.hosthear.com:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
	  
	  
</system.webServer>
</configuration>
